/* STYLING FOR CONTACT ME PANEL */
.contact-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    min-width: 338.13px;
    padding: 20px 0;
    width: clamp(40%, 40%, 80%);
  
    & h2 {
        font-family: var(--body-font);
        font-size: 50px;
        font-weight: 400;
        text-align: center;
    }
}